.video-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  z-index: -1;
  top:-50px;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100vw;
  height: 56.25vw; /* 16:9 */

  min-height: 100vh;
  min-width: 177.78vh;

  transform: translate(-50%, -50%);

  border: 0;
  pointer-events:none;
}